.mr-2 {
  margin-right: var(--space-2);
}
.ml-2 {
  margin-left: var(--space-2);
}
.mb-2 {
  margin-bottom: var(--space-2);
}
.pa-2 {
  padding: var(--space-2);
}
.mr-4 {
  margin-right: var(--space-4);
}
.mb-4 {
  margin-bottom: var(--space-4);
}
.mb-8 {
  margin-bottom: var(--space-8);
}
.ma-0 {
  margin: 0;
}
.mb-0 {
  margin-bottom: 0;
}

.nowrap {
  white-space: nowrap;
}

.flex {
  display: flex;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.align-center {
  display: flex;
  align-items: center;
}
.justify-center {
  display: flex;
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-end {
  display: flex;
  justify-content: flex-end;
}

.font-big {
  font-size: var(--font-size-xl);
}

.icon-md svg {
  width: 1.5rem;
  height: 1.5rem;
}
