.nowrap {
  white-space: nowrap;
}

.flex {
  display: flex;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.align-center {
  display: flex;
  align-items: center;
}
.justify-center {
  display: flex;
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-end {
  display: flex;
  justify-content: flex-end;
}
