.tint-bg {
  background-color: var(--color-tint);
}
.light-bg {
  background-color: var(--color-light);
}
.grey-bg {
  background-color: var(--color-grey);
}

.pending {
  position: relative;
}
.pending:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--muar-light);
}

.ant-spin-spinning {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
}

.error {
  width: 100%;
  text-align: center;
  padding: var(--space-1);
  color: var(--color-error);
}
